.soc
	font-size: 0
	a
		+inline-block
		margin-left: 13%
		vertical-align: middle
		+r(w760)
			margin-left: 10px
.soc__fb
	+s(soc-fb)
.soc__tw
	+s(soc-tw)
.soc__tm
	+s(soc-tm)    

.message
	padding: 7px 0 4px 
	text-align: center
	background: $red
	border-bottom: 5px solid #a9402c  
	+font2
	color: $light
	.l-container
		position: relative
.message__close
	position: absolute
	right: 0
	top: 4px
	+s(close)
	+r(w1180)
		right: 5px
		
.btn
	+inline-block
	vertical-align: middle 
	padding: 13px 10px 10px
	+font2
	font-weight: bold
	line-height: 1
	font-size: 18px
	+border-radius(5px)
	+tr(all .2s linear)
	+box
	text-align: center
	+r(w480)
		font-size: 14px
	&:hover
		text-shadow: none
		opacity: .9
	&:active
		position: relative
		top: 1px
.btn_red
	background: $red 
	border-bottom: 1px solid #a53f24
	text-shadow: 1px 2px 0 #b24630
	color: #fff 
	+box-shadow(0 1px 0 rgba(233, 74, 62, 0.2))
.btn_blue
	background: #5c8da5
	border-bottom: 1px solid #416a7d
	color: $light 
.btn_m
	padding: 14px 20px 12px 
	font-size: 16px
	+font
	font-weight: normal	

.input-wrap
	margin-bottom: 14px
.input
	display: block
	padding: 0 11px 
	width: 100%
	height: 31px
	border: 1px solid #d8d8d8
	background: #fff
	+box
	+font
	font-size: 12px
	+tr(all .2s linear)
	&:focus
		border: 1px solid $blue_dark
.textarea
	padding: 11px 
	resize: vertical
.popup
	position: absolute
	top: 0
	left: 50%
	margin-left: -180px
	max-width: 360px
	background: $blue 
	color: #fff 
	.textarea
		resize: none
		height: 82px

.popup__main
	border-bottom: 1px solid #51a8d1 
	padding: 16px 40px 19px
.popup__title	
	margin-bottom: 16px
	font-size: 22px
	+font2
	strong
		display: block
.popup__footer
	padding: 20px 0
	text-align: center
	background: $gray  
	.btn
		width: 222px



.soc-small
	font-size: 0
	a
		+inline-block
		margin-left: 8px
		vertical-align: middle
		&:active
			position: relative
			top: 1px

.soc-small__fb
	+s(soc-fb2)
.soc-small__tw
	+s(soc-tw2)

.l-cols
	position: relative
	background: #fff
	padding-left: 340px
	+tr(padding .2s linear)
	+clr
	+r(w1180)
		padding-left: 240px
	+r(w640)
		padding-left: 0
.main
	overflow: hidden
	
.input-nice
	display: block
	padding: 0 20px 
	width: 100%
	height: 43px
	+box
	font-size: 16px
	border: 1px solid #c9c9c9
	border-bottom-color: #efefef 
	+g(#ececec 10%, #fff)
	color: $gray
	+tr(border .2s linear)
	&:focus
		border-color: #ddd