.soc
	font-size: 0
	a
		display: inline-block
		margin-left: 13%
		vertical-align: middle
		+r(w760)
			margin-left: 10px
.soc__fb
	+s(soc-fb)
.soc__tw
	+s(soc-tw)
.soc__tm
	+s(soc-tm)    

.message
	padding: 7px 0 4px 
	text-align: center
	background: $red
	border-bottom: 5px solid #a9402c  
	+font2
	color: $light
	.l-container
		position: relative
.message__close
	position: absolute
	right: 0
	top: 4px
	+s(close)
	+r(w1180)
		right: 5px
		
.btn
	display: inline-block
	vertical-align: middle 
	padding: 13px 10px 10px
	+font2
	font-weight: bold
	line-height: 1
	font-size: 18px
	+border-radius(5px)
	+tr(all .2s linear)
	+box
	text-align: center
	+r(w480)
		font-size: 14px
	&:hover
		text-shadow: none
		opacity: .9
	&:active
		position: relative
		top: 1px
.btn_red
	background: $red 
	border-bottom: 1px solid #a53f24
	text-shadow: 1px 2px 0 #b24630
	color: #fff 
	+box-shadow(0 1px 0 rgba(233, 74, 62, 0.2))