.soc
	font-size: 0
	a
		display: inline-block
		margin-left: 13%
		vertical-align: middle
		+r(w760)
			margin-left: 10px
.soc__fb
	+s(soc-fb)
.soc__tw
	+s(soc-tw)
.soc__tm
	+s(soc-tm)    

.message
	padding: 7px 0 4px 
	text-align: center
	background: $red
	border-bottom: 5px solid #a9402c  
	+font2
	color: $light
	.l-container
		position: relative
.message__close
	position: absolute
	right: 0
	top: 4px
	+s(close)
	+r(w1180)
		right: 5px