.video
	padding: 3.2% 5px 1.9%
	color: #fff 
	text-align: center
	background: url(../img/video-bg.jpg) 0 0 repeat-x 
.video__title
	margin-bottom: 14px
	font-size: 24px
	+font2
	font-weight: bold
	+r(w760)
		font-size: 20px
.video__text
	margin: 0 auto 
	width: 60%
	font-size: 16px
	a
		color: $red
		font-weight: bold   
	+r(w760)
		width: 100%
		font-size: 14px  
.video__frame
	margin: 5.8% 0 0
	img,iframe
		display: block
		margin: 0 auto 
		max-width: 100% 
		height: auto

.callout
	+clr
	padding: 2.95% 3.2% 
	background: $light 
	.l-container
		padding: 0 3.05% 
		+r(w760)
			padding: 0 5px 
	.title
		float: left
		max-width: 360px
		+r(w760)
			float: none
			max-width: 100%
.callout__text
	overflow: hidden
	padding-top: 5px
	line-height: 1.3
	font-size: 14px
	
.counter
	padding: 2.4% 0 2.9% 
	text-align: center
	+r(w760)
		padding: 15px 10px
	+r(w560)
		display: none
	.title
		margin: 0 auto 4%
		max-width: 45%
		+r(w760)
			max-width: 100%
.counter__wrap
	+inline-block
	position: relative
	font-size: 60px
	+font2
	font-weight: bold
	img
		display: block
		margin: 0 auto
		max-width: 100% 
		height: auto
.counter__digit-bg
	position: absolute
	top: 52px
	left: 0
	right: 0
	text-align: right
	padding-right: 42px
	color: $blue 
.counter__digit
	position: absolute
	top: 52px
	left: 0
	right: 0
	text-align: right
	padding-right: 42px
	color: #fff 
	letter-spacing: 4px 
	span
		position: absolute
		left: 42px
		top: 0
		
.promo
	padding: 3.4% 0 5% 
	background: $light
	.l-container
		padding: 0 3.1% 
		+clr 
		+r(w760)
			padding: 0 5px 
.promo__title
	margin-bottom: 7%
	text-align: center
.promo__top
	+r(w760)
		margin-bottom: 15px
	.promo__img
		float: left
	.promo__text
		float: right
		margin-top: 12.8% 
.promo__middle
	+r(w760)
		margin-bottom: 15px
	.promo__img
		float: right
		margin-top: -22px
		+clr
		+r(w760)
			margin-top: 10px
	.promo__text
		float: left
		margin-top: 9.6% 
	img
		float: right
.promo__bottom
	+r(w760)
		margin-bottom: 15px
	.promo__img
		float: left
	.promo__text
		float: right
		margin-top: 11.4% 
	img
		margin: -27px 0 0 -44px
		+r(w1024)
			margin: 0
.promo__img
	width: 44.3%
	img
		display: block
		+r(w1180) 
			max-width: 100%
			height: auto 
		+r(w360)
			margin: 0 auto 
	+r(w360)
		float: none !important
		width: 90%
		margin: 0 auto 
.promo__text
	//padding-left: 5px
	line-height: 1.25
	width: 51%
	+box
	+r(w360)
		float: none !important
		width: 100%
	.title
		margin-bottom: 14px

.info-wrap
	padding: 3.4% 0 1.3%
	font-size: 0
	+r(w760)
		padding: 10px 
	.title
		margin-bottom: 3%
		text-align: center
	.l-container
		padding: 0 3.2% 
		+r(w760)
			padding: 0 5px 
.info
	+inline-block
	margin: 0 0 8.4% 9%
	width: 24.3% 
	text-align: center
	font-size: 14px
	vertical-align: top
	+r(w760)
		width: 32%
		margin: 0 0 10px 1%
	+r(w640)
		width: 49%
		font-size: 12px
	+r(w360)
		display: block
		width: 100%
	img
		margin-bottom: 16px
	.title
		margin-bottom: 6px
.info__text
	margin: 0 auto 
	width: 90%
.info-wrap__in
	margin-left: -10%
	+r(w760)
		margin-left: -2%
.quote-wrap
	padding: 2.6% 0
	background: $light
	font-size: 16px
	+r(w480)
		display: none
	.l-container
		padding: 0 3.2%
		+r(w760)
			padding: 0 5px 
	.cycle-slideshow
		overflow: hidden
		width: 100%
		margin-bottom: 2.8%
.quote-wrap__top
	margin-bottom: 7%
	text-align: center
	+r(w760)	
		margin-bottom: 20px
.quote-item
	width: 980px
	padding-top: 5%
	font-size: 16px
	+clr
	+r(w1180)	
		min-width: 100%
		width: 100%
	+r(w760)	
		font-size: 14px
	&:first-child
		margin-top: 0

.quote-item__author
	text-align: right
	font-style: italic
	a
		color: $blue  
.quote-item__main
	margin-bottom: 8px
.quote-item__left
	float: left
	width: 70%
.quote-item__img
	float: right 
	padding-right: 1.9%
	width: 24.7%
	+box
	text-align: right
	img
		display: block
		max-width: 100%
		height: auto
.quote-wrap_hz
	min-width: 100%
		

.pager
	text-align: center
	button
		margin-left: 10px
		width: 13px
		height: 13px
		+box-shadow(0 0 0 1px $red)
		+border-radius(50%)
		+box
		background: $light
		vertical-align: middle 
		&.is-active
			border: 1px solid $light
			background: $red 
		&:first-child
			margin-left: 0