.title_center
	text-align: center
.title-l-3
	color: $blue
	font-size: 16px
	font-weight: bold
	+r(w640)
		font-size: 14px
.faq-wrap
	padding: 5% 0 7.3%
	.title
		margin-bottom: 4.3%
.faq-content
	+clr
	+r(w360)
		padding: 0 5px 
.faq-content__col
	float: right
	width: 48%
	&:first-child
		float: left
		+r(w360)
			float: none
	+r(w360)
		float: none
		width: 100%
.faq
	margin-bottom: 7.8%
	.title-l-3
		margin-bottom: 13px
.cont-banner
	margin-bottom: 8.4% 
	padding: 14px 21px 
	+clr
	background: #85aabc url(../img/bg1.png) 0 0 repeat 
	+r(w1024)
		padding: 14px 10px
	+r(w360)
		padding: 10px 5px
.cont-banner__left
	float: left
	width: 48%
	font-size: 24px
	font-weight: bold
	+font2
	+r(w1024)
		font-size: 18px
	+r(w760)
		font-size: 16px
	+r(w360)
		float: none
		width: 100%
	span
		display: block
		color: $red 
	a
		color: $red 
.cont-banner__right
	float: right
	width: 48%
	+r(w360)
		float: none
		width: 100%