.title_center
	text-align: center
.title-l-3
	color: $blue
	font-size: 16px
	font-weight: bold
	+r(w640)
		font-size: 14px
// ----------------- FAQ ----------- //
.faq-wrap
	padding: 5% 0 7.3%
	.title
		margin-bottom: 4.3%
.faq-content
	+clr
	+r(w360)
		padding: 0 5px 
.faq-content__col
	float: right
	width: 48%
	&:first-child
		float: left
		+r(w360)
			float: none
	+r(w360)
		float: none
		width: 100%
.faq
	margin-bottom: 7.8%
	.title-l-3
		margin-bottom: 13px
.cont-banner
	margin-bottom: 8.4% 
	padding: 14px 21px 
	+clr
	background: #85aabc url(../img/bg1.png) 0 0 repeat 
	+r(w1024)
		padding: 14px 10px
	+r(w360)
		padding: 10px 5px
.cont-banner__left
	float: left
	width: 48%
	font-size: 24px
	font-weight: bold
	+font2
	+r(w1024)
		font-size: 18px
	+r(w760)
		font-size: 16px
	+r(w360)
		float: none
		width: 100%
	span
		display: block
		color: $red 
	a
		color: $red 
.cont-banner__right
	float: right
	width: 48%
	+r(w360)
		float: none
		width: 100%
		
// ----------------- Features ----------- //
.benefit
	padding: 3.1% 0 2.1%
	background: $light 
	.l-container
		+clr
	+r(w640)
		padding: 3.1% 5px 2.1% 
.benefit__info
	float: left
	width: 49%
	padding: 0 20px 0 7%
	font-size: 16px
	+box
	+r(w640)
		padding: 0
		width: 100%
.benefit__img
	overflow: hidden
	text-align: center
	+r(w640)
		display: none
	img
		max-width: 100%
		height: auto
		
.advant-wrap
	padding-top: 14px
	background: #5387a0 
.advant-row
	padding-top: 15px
	+clr
	border-bottom: 1px solid #fff 
	&:last-child
		border-bottom: 0
	+r(w640)
		border-bottom: 0
.advant
	float: left
	width: 16.5%
	color: #fff
	font-size: 14px 
	text-align: center
	+r(w760)
		margin-bottom: 15px
		width: 25%
	+r(w640)
		width: 33.3%
	+r(w360)
		width: 50%
	&.is-active 
		span
			position: relative
			&:after
				content: ""
				position: absolute
				left: 0
				right: 0
				bottom: 0
				height: 9px
				background: #fff 
				+r(w640)
					height: 5px
	&:first-child
		width: 17.5%
		+r(w640)
			width: 33.3%
		+r(w360)
			width: 50%
	span
		display: block
		margin: 0 auto 
		height: 47px
		max-width: 80%
		
	i
		display: inline-block
.advant__icon
	height: 55px
$advant: icon-phone, icon-bandwidth, icon-storage, icon-domain, icon-ssl, icon-integr, icon-cart, icon-ship, icon-acc, icon-sale, icon-stat, icon-more
@each $i in $advant
	.#{$i} 
		+s($i)

.video_simple
	padding-bottom: 3.4%
	background: $light 
	color: $gray 
	.l-container
		max-width: 740px
	.video__text
		width: 98%
	.video__frame
		margin-bottom: 6.1%
		
.review
	padding: 3.1% 0 0 
	text-align: center
	+r(w860)
		overflow: hidden
	.info-wrap,
	.title
		width: 83%
		margin: 0 auto
		+r(w860)
			width: 100%
	.title
		margin-bottom: 2.5% 
	.info-wrap
		padding-top: 5.4%
	img
		max-width: 100%
		height: auto
	.info
		margin-bottom: 5%
		
.try
	padding: 28px 0
	background: #3b414e
	+r(w760)
		padding: 10px 5px  
	.l-container
		max-width: 700px
		+clr
		+r(w740)
			max-width: 100%
.try__info
	float: left
	width: 48%
	padding-right: 2%
	color: #fff
	font-size: 16px
	+r(w760)
		font-size: 14px
	+r(w360)
		width: 100%
		float: none
		margin-bottom: 10px
	strong
		+font2
		font-size: 24px
		+r(w760)
			font-size: 18px
.try__btn
	float: right
	width: 48%
	+r(w360)
		width: 100%
		float: none
	.btn
		width: 100%
		

// ----------  Contacts --------- //
.map
	position: relative
	border-bottom: 1px solid #fff
	border-top: 1px solid #fff
	height: 634px
	+r(w860)
		height: auto
	&:hover
		iframe
			+gray-zero
	.l-container
		position: relative
		padding: 0 3.2% 
		+r(w860)
			padding: 0
	.popup
		z-index: 2
		margin-top: 10%
		left: 5.5%
		margin-left: 0
		+r(w860)
			position: static
			margin: 0
			max-width: 100%
.map__wrap
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	iframe
		width: 100%
		height: 100%
		display: block
		+tr(all .2s linear)
		+gray
	+r(w860)
		height: 300px
		position: relative
		left: 0
		top: 0 
.point
	position: absolute
	width: 13px
	height: 13px
	z-index: 100
	+box-shadow(0 0 0 1px $red)
	+border-radius(50%)
	+box
	border: 1px solid $light
	background: $red 
.tooltip
	position: absolute
	z-index: 100
	border: 1px solid $red
	padding: 10px 19px 
	background: $light
	font-size: 12px
	text-align: center
	+box-shadow(inset 0 -1px 0 rgba(215, 83, 57, 0.3))
	&:after
		content: ""
		position: absolute
		z-index: 2
		bottom: -6px
		left: 50%
		margin-left: -7px
		+arr(14,7,$light,b) 
	&:before
		content: ""
		position: absolute
		bottom: -7px
		left: 50%
		margin-left: -8px
		+arr(16,8,$red,b) 
.comandos
	padding: 2% 0 0 
	background: $light
	+r(w640)
		padding: 15px 5px 
	.l-container
		padding: 0 3.2% 
.comandos__info
	margin: 0 auto 5.3%
	width: 70%
	text-align: center
	font-size: 16px
	+r(w1180)
		padding: 0 5px 
		width: 100%
		+box
	.title
		margin-bottom: 15px
	p
		margin-bottom: 23px
		+r(w800)
			margin-bottom: 10px
			
.comandos__wrap
	margin-right: -15%
	+r(w360)
		margin-right: 0
.worker
	display: inline-block
	vertical-align: top
	margin: 0 11% 7.5% 0
	width: 21.5%
	+r(w860)
		width: 25%
		margin-right: 5.5%
	+r(w640)
		width: 40%
		margin-right: 5.5%
	+r(w560)
		width: 42%
		margin-right: 2%
	+r(w360)
		width: 100%
		margin-right: 0
.worker__pic
	position: relative
	margin-bottom: 7%
	text-align: center
	img
		max-width: 100%
		height: auto
	.soc-small
		position: absolute
		top: 0
		right: 0
.worker__name
	font-size: 24px
	font-weight: bold
	+font2
	+r(w860)
		font-size: 20px
	+r(w360)
		font-size: 18px
.worker__pos
	margin-bottom: 13px
	font-size: 24px
	font-style: italic
	+r(w860)
		font-size: 16px
	+r(w360)
		font-size: 14px