.sidebar
    position: absolute
    left: 0
    top: 0
    bottom: 0
    padding: 9.4% 6.2% 0 5.2%
    +box 
    width: 340px
    background: $light 
    +tr(position .2s linear)
    -ms-overflow-x: hidden
    overflow-x: hidden
    overflow-y: auto
    +r(w1180)
        padding: 15px
        width: 240px
    +r(w640)
        left: -240px
    .title
        margin-bottom: 7%
        color: #3b414e 
.sidebar__links
    margin-bottom: 13.4%
    +clr
    a
        color: $blue 
    .sidebar__key
        float: right
        color: #666 
.sidebar__nav
    margin-bottom: 15%
    padding: 0 0 12%
    border-bottom: 1px solid #4f9fc5 
    li
        margin-bottom: 12px
    a
        text-transform: uppercase
        color: $blue 
    ul
        padding: 6px 0 0 10px
        li
            margin-bottom: 6px
        a
            color: #666
            text-transform: capitalize 
.feedback
    color: #3b414e 
    +clr
    .textarea
        height: 231px
        resize: none
    .btn
        width: 160px
    .to-right
        float: right
.feedback__title
    margin-bottom: 14px
    font-size: 24px
    +font2
    font-weight: bold
.feedback__info
    margin-bottom: 25px
    
.feedback_mod
    margin-bottom: 13%
    padding-bottom: 17%
    border-bottom: 1px solid #4f9fc5 
.categ
    li
        margin-bottom: 10px
    a
        color: $blue
        letter-spacing: .5px    
.post-content
    img
        max-width: 100%
        height: auto